<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
  <!-- Import bootstrap npm -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


  <title>Grade BCC</title>

</head>

<body>
  <div class="container mt-3" style="width: 100%;">
    <div id="grr_search" class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">GRR</span>
      </div>
      <input type="text" maxlength="8" class="form-control" placeholder="00000000" aria-label="GRR"
        aria-describedby="basic-addon1">
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="d-flex align-items-center m-5">
          <strong>Loading...</strong>
          <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="grid_search">
    <div class="container">
      <div class="row" style="background-color: gray;">
        <div class="col text-center">1</div>
        <div class="col text-center">2</div>
        <div class="col text-center">3</div>
        <div class="col text-center">4</div>
        <div class="col text-center">5</div>
        <div class="col text-center">6</div>
        <div class="col text-center">7</div>
        <div class="col text-center">8</div>
      </div>
      <div id="grid_content">

      </div>
    </div>
  </div>



  <small>
    <footer class="mt-5 text-center">
      A grade feita a partir da grade de 2011, se for necessário adicionar mais disciplinas, basta adicionar no array
      "disci_names", o código da disciplina.
    </footer>
  </small>
</body>

<style>
  .disci {
    color: #2876c9;
    cursor: pointer;
    border-style: solid;
    border-color: gray;
  }
</style>


</html>
<script>
  var searched_grr = "GRR00000000";
  const disci_names = [
    "CI068", "CI210", "CI212", "CI215", "CI162", "CI163", "CI221",
    "OPT", "CI055", "CI056", "CI057", "CI062", "CI065", "CI165",
    "CI211", "OPT", "CM046", "CI067", "CI064", "CE003", "CI059",
    "CI209", "OPT", "OPT", "CM045", "CM005", "CI237", "CI058",
    "CI061", "CI218", "OPT", "OPT", "CM201", "CM202", "CI166",
    "CI164", "SA214", "CI220", "TG I", "TG II"
  ];

  function search_info(code, url) {
    return $.ajax({
      url: 'http://localhost:3000/' + url + '/' + searched_grr + "/" + code,
      type: 'GET',
      success: function (data) {
        return data;
      },
      error: function (request, error) {
        return alert("Failed to request data for grr" + searched_grr)
      }
    });

  }


  $(document).ready(function () {
    load_grid();

    $("#grr_search").change((el) => {
      searched_grr = "GRR" + (el.target.value);
      load_grid();
    });

    $("#exampleModal").on('hidden.bs.modal', function (event) {
      // Put a spinner on the modal
      const modal = $("#exampleModal").find(".modal-content");
      modal.html('<div class="d-flex align-items-center m-5"><strong>Loading...</strong><div class="spinner-border ms-auto" role="status" aria-hidden="true"></div></div>');
    });

  });

  function on_click_disci(element) {
    const el_id = element.currentTarget.dataset.id;
    reload_modal(el_id);
  }

  async function load_grid() {
    let data = await search_info(null, "grades_data");
    console.log(data);
    const grid = $("#grid_content");
    grid.html("");

    let el = $("<div></div>");
    el.addClass("row");

    for (let i = 0; i < disci_names.length; i++) {
      let el2 = $("<div></div>");
      el2.addClass("col text-center disci");
      el2.attr("data-id", disci_names[i]);
      el2.html(disci_names[i]);
      el.append(el2);

      // data-bs-toggle='modal' data-bs-target='#exampleModal'
      el2.attr("data-bs-toggle", "modal");
      el2.attr("data-bs-target", "#exampleModal");

      // Add click event
      el2.click(on_click_disci);

      // Check color consulting the info      // data-bs-toggle='modal' data-bs-target='#exampleModal'

      // Nota is a object with disci codes as keys
      if (data[disci_names[i]]) {
        var nota = data[disci_names[i]];
        nota = nota[nota.length - 1].SITUACAO;

        switch (nota) {
          case "Aprovado":
            el2.css("background-color", "#47ff51");
            break;

          case "Trancamento Total":
            // Add <i class="fa fa-lock" aria-hidden="true"></i>
            el2.html(el2.html() + " <i class='fa fa-lock' aria-hidden='true'></i>");
          case "Reprovado por nota":
          case "Reprovado por faltas":
          case "Reprovado por Frequência":
            el2.css("background-color", "#ff668c");
            break;

          case "Matrícula":
            el2.css("background-color", "#5c9bf2");
            break;

          case "Dispensa de Disciplinas (com nota)":
            // Yellow
            el2.css("background-color", "#ffc107");
            break;

            break;
          default:
            break;
        }

      }

      if (i % 8 == 7) {
        grid.append(el);
        el = $("<div></div>");
        el.addClass("row");
      }
    }

  }

  async function reload_modal(code) {
    const modal = $("#exampleModal").find(".modal-content");
    let data = await search_info(code, "grades_info");
    modal.html(data);
  }
</script>
