<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <title>Grade BCC</title>
    <style>
        .item {
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
            font-family: Arial, sans-serif;
            color: white;
            text-align: center;
        }
    </style>
</head>

<body>
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Código do Curso</th>
                <th>Nome do Curso</th>
                <th>Número da Versão</th>
                <th>Ano</th>
                <th>Período</th>
                <th>Código da Atividade Curricular</th>
                <th>Nome da Atividade Curricular</th>
                <th>Créditos</th>
                <th>Carga Horária Total</th>
                <th>Conceito</th>
                <th>Frequência</th>
                <th>Média de Crédito</th>
                <th>Situação do Currículo</th>
                <th>Sigla</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>

</html>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable(
            {
                "paging": true,
                "ordering": true,
                "info": true,
                "searching": true,
                "ajax": "http://localhost:3000/grades",
                // the format of columns is:
                "columns": [
                    { "data": "MATR_ALUNO" },
                    { "data": "NOME_ALUNO" },
                    { "data": "COD_CURSO" },
                    { "data": "NOME_CURSO" },
                    { "data": "NUM_VERSAO" },
                    { "data": "ANO" },
                    { "data": "PERIODO" },
                    { "data": "COD_ATIV_CURRIC" },
                    { "data": "NOME_ATIV_CURRIC" },
                    { "data": "CREDITOS" },
                    { "data": "CH_TOTAL" },
                    { "data": "CONCEITO" },
                    { "data": "FREQUENCIA" },
                    { "data": "MEDIA_CREDITO" },
                    { "data": "SITUACAO_CURRICULO" },
                    { "data": "SIGLA" }
                ]
            }
        );
    });
</script>